@model MvcBank.Models.User

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please enter your card No. and pin No.</h2>

@using (Html.BeginForm("IndexPost", "Bank"))
{
    <div class="form-group">
        @Html.LabelFor(b => b.CardNumber)
        @Html.TextBoxFor(b => b.CardNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.Pin)
        @Html.TextBoxFor(b => b.Pin, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(b => b.Id)
    <button type="submit" class="btn btn-primary">Login</button>
}