@model MvcBank.Models.Record
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello: @Session["CardNo"]</h2>
<p>Your Account Balance is @Session["Balance"]</p>
<hr />

@using (Html.BeginForm("Withdraw", "Account"))
{
    <pre>To cash out please enter balance, card no. and pin no.</pre>

    <div class="form-group">
        @Html.LabelFor(b => b.Balance)
        @Html.TextBoxFor(b => b.Balance, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.CardNo)
        @Html.TextBoxFor(b => b.CardNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.Pin)
        @Html.TextBoxFor(b => b.Pin, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(b => b.Id)
    <button type="submit" class="btn btn-primary">Cash Out</button>
}

<hr />

<div class="col-lg-12" style="text-align: center">
    <pre>To exit please click on Log out button</pre>
   
    
  
</div>

<div class="col-lg-12" style="padding-top: 20px; padding-bottom: 20px;  text-align: right">
    @Html.ActionLink("Log out", "Exit", "Account", null, new { @class = "btn btn-primary" })
</div>

@*check account balance, cash withdrawal and exit*@



